[Unit]
Description=app-cjq service test

[Service]
ExecStart=/usr/bin/app-cjq
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target